In [1]:
import duckdb
import pandas as pd
import itertools
import util

import matplotlib
import plotly.graph_objects as go
%matplotlib inline

In [2]:
conn=duckdb.connect('data/dbbasis.db')

In [3]:
q='''select   college,  major,ft, c1,c2,count(*) c from raw_data 
where college='adelphi'
group by
GROUPING SETS (( college, major , ft,c1,c2), (college, major, ft), (college, major), (college) )
order by college, ft, major
'''

In [7]:
q='''select   college,  major,ft, c1,c2,count(*) c from raw_data 
where college='adelphi' and major='STEM'
group by
GROUPING SETS (( college, major , ft,c1,c2), (college, major, ft), (college, major), (college) )
order by college, ft, major
'''

In [8]:
df=conn.execute(q).df()
df

   college major   FT     c1     c2     c
0  adelphi   NaN  NaN    NaN    NaN  1252
1  adelphi  STEM  NaN    NaN    NaN  1252
2  adelphi  STEM   FT   True  False   858
3  adelphi  STEM   FT  False   True   165
4  adelphi  STEM   FT    NaN    NaN  1023
5  adelphi  STEM    T   True  False   171
6  adelphi  STEM    T  False   True    58
7  adelphi  STEM    T    NaN    NaN   229

In [9]:
qq='select  row_number() over (order by c) as id, * from df df'

In [10]:
df1=conn.execute(qq).df()
df1

In [11]:
df3

   id  college major   FT     c1     c2     c
0   1  adelphi  STEM    T  False   True    58
1   2  adelphi  STEM   FT  False   True   165
2   3  adelphi  STEM    T   True  False   171
3   4  adelphi  STEM    T    NaN    NaN   229
4   5  adelphi  STEM   FT   True  False   858
5   6  adelphi  STEM   FT    NaN    NaN  1023
6   7  adelphi   NaN  NaN    NaN    NaN  1252
7   8  adelphi  STEM  NaN    NaN    NaN  1252

In [52]:
pd.set_option('display.max_rows', None)
non_null_columns = df1.columns[df1.notna().all()]
common_columns= list(df1.columns) 
join_columns = list(non_null_columns)

for j in join_columns:
    common_columns. remove(j)
join_columns.remove('c')
join_columns.remove('id')

print ("join columns"+str(join_columns))
print ("common columns "+str(common_columns))


merged_df = pd.merge(df1, df1, on=join_columns, suffixes=('_1', '_2'))
merged_df

join columns['college']
common columns ['major', 'FT', 'c1', 'c2']

,id_1,college,major_1,FT_1,c1_1,c2_1,c_1,id_2,major_2,FT_2,c1_2,c2_2,c_2
0,1,adelphi,STEM,T,False,True,58,1,STEM,T,False,True,58
1,1,adelphi,STEM,T,False,True,58,2,STEM,FT,False,True,165
2,1,adelphi,STEM,T,False,True,58,3,STEM,T,True,False,171
3,1,adelphi,STEM,T,False,True,58,4,STEM,T,NaN,NaN,229
4,1,adelphi,STEM,T,False,True,58,5,STEM,FT,True,False,858
5,1,adelphi,STEM,T,False,True,58,6,STEM,FT,NaN,NaN,1023
6,1,adelphi,STEM,T,False,True,58,7,NaN,NaN,NaN,NaN,1252
7,1,adelphi,STEM,T,False,True,58,8,STEM,NaN,NaN,NaN,1252
8,2,adelphi,STEM,FT,False,True,165,1,STEM,T,False,True,58
9,2,adelphi,STEM,FT,False,True,165,2,STEM,FT,False,True,165
10,2,adelphi,STEM,FT,False,True,165,3,STEM,T,True,False,171
11,2,adelphi,STEM,FT,False,True,165,4,STEM,T,NaN,NaN,229
12,2,adelphi,STEM,FT,False,True,165,5,STEM,FT,True,False,858
13,2,adelphi,STEM,FT,False,True,165,6,STEM,FT,NaN,NaN,1023
14,2,adelphi,STEM,FT,False,True,165,7,NaN,NaN,NaN,NaN,1252
15,2,adelphi,STEM,FT,False,True,165,8,STEM,NaN,NaN,NaN,1252
16,3,adelphi,STEM,T,True,False,171,1,STEM,T,False,True,58
17,3,adelphi,STEM,T,True,False,171,2,STEM,FT,False,True,165
18,3,adelphi,STEM,T,True,False,171,3,STEM,T,True,False,171
19,3,adelphi,STEM,T,True,False,171,4,STEM,T,NaN,NaN,229
20,3,adelphi,STEM,T,True,False,171,5,STEM,FT,True,False,858
21,3,adelphi,STEM,T,True,False,171,6,STEM,FT,NaN,NaN,1023
22,3,adelphi,STEM,T,True,False,171,7,NaN,NaN,NaN,NaN,1252
23,3,adelphi,STEM,T,True,False,171,8,STEM,NaN,NaN,NaN,1252
24,4,adelphi,STEM,T,NaN,NaN,229,1,STEM,T,False,True,58
25,4,adelphi,STEM,T,NaN,NaN,229,2,STEM,FT,False,True,165
26,4,adelphi,STEM,T,NaN,NaN,229,3,STEM,T,True,False,171
27,4,adelphi,STEM,T,NaN,NaN,229,4,STEM,T,NaN,NaN,229
28,4,adelphi,STEM,T,NaN,NaN,229,5,STEM,FT,True,False,858
29,4,adelphi,STEM,T,NaN,NaN,229,6,STEM,FT,NaN,NaN,1023
30,4,adelphi,STEM,T,NaN,NaN,229,7,NaN,NaN,NaN,NaN,1252
31,4,adelphi,STEM,T,NaN,NaN,229,8,STEM,NaN,NaN,NaN,1252
32,5,adelphi,STEM,FT,True,False,858,1,STEM,T,False,True,58
33,5,adelphi,STEM,FT,True,False,858,2,STEM,FT,False,True,165
34,5,adelphi,STEM,FT,True,False,858,3,STEM,T,True,False,171
35,5,adelphi,STEM,FT,True,False,858,4,STEM,T,NaN,NaN,229
36,5,adelphi,STEM,FT,True,False,858,5,STEM,FT,True,False,858
37,5,adelphi,STEM,FT,True,False,858,6,STEM,FT,NaN,NaN,1023
38,5,adelphi,STEM,FT,True,False,858,7,NaN,NaN,NaN,NaN,1252
39,5,adelphi,STEM,FT,True,False,858,8,STEM,NaN,NaN,NaN,1252
40,6,adelphi,STEM,FT,NaN,NaN,1023,1,STEM,T,False,True,58
41,6,adelphi,STEM,FT,NaN,NaN,1023,2,STEM,FT,False,True,165
42,6,adelphi,STEM,FT,NaN,NaN,1023,3,STEM,T,True,False,171
43,6,adelphi,STEM,FT,NaN,NaN,1023,4,STEM,T,NaN,NaN,229
44,6,adelphi,STEM,FT,NaN,NaN,1023,5,STEM,FT,True,False,858
45,6,adelphi,STEM,FT,NaN,NaN,1023,6,STEM,FT,NaN,NaN,1023
46,6,adelphi,STEM,FT,NaN,NaN,1023,7,NaN,NaN,NaN,NaN,1252
47,6,adelphi,STEM,FT,NaN,NaN,1023,8,STEM,NaN,NaN,NaN,1252
48,7,adelphi,NaN,NaN,NaN,NaN,1252,1,STEM,T,False,True,58
49,7,adelphi,NaN,NaN,NaN,NaN,1252,2,STEM,FT,False,True,165
50,7,adelphi,NaN,NaN,NaN,NaN,1252,3,STEM,T,True,False,171
51,7,adelphi,NaN,NaN,NaN,NaN,1252,4,STEM,T,NaN,NaN,229
52,7,adelphi,NaN,NaN,NaN,NaN,1252,5,STEM,FT,True,False,858
53,7,adelphi,NaN,NaN,NaN,NaN,1252,6,STEM,FT,NaN,NaN,1023
54,7,adelphi,NaN,NaN,NaN,NaN,1252,7,NaN,NaN,NaN,NaN,1252
55,7,adelphi,NaN,NaN,NaN,NaN,1252,8,STEM,NaN,NaN,NaN,1252
56,8,adelphi,STEM,NaN,NaN,NaN,1252,1,STEM,T,False,True,58
57,8,adelphi,STEM,NaN,NaN,NaN,1252,2,STEM,FT,False,True,165
58,8,adelphi,STEM,NaN,NaN,NaN,1252,3,STEM,T,True,False,171
59,8,adelphi,STEM,NaN,NaN,NaN,1252,4,STEM,T,NaN,NaN,229
60,8,adelphi,STEM,NaN,NaN,NaN,1252,5,STEM,FT,True,False,858
61,8,adelphi,STEM,NaN,NaN,NaN,1252,6,STEM,FT,NaN,NaN,1023
62,8,adelphi,STEM,NaN,NaN,NaN,1252,7,NaN,NaN,NaN,NaN,1252
63,8,adelphi,STEM,NaN,NaN,NaN,1252,8,STEM,NaN,NaN,NaN,1252

In [60]:
def isNaN(num):
    return (num != num) or (num=='nan')
def compute_function(row, common_columns):
    matches=0
    ignore=False
    Exact=True
    for cc in common_columns:
        print(cc)
        v1=row[cc+'_1']
        v2=row[cc+'_2']
        n1=isNaN(v1)
        n2=isNaN(v2)
        print("\t"+str(v1)+" "+str(n1))
        print("\t"+str(v2)+" "+str(n2))
        if not n1 and not n2 and v1== v2:
                matches=matches+1
        else:
            if n1 or n2 :
                matches=matches+1
                Exact=False
            else:
                ignore=True
        print(str(matches) + str(ignore))           
    if matches==len(common_columns) and Exact:
            return -1
    if ignore==True:
        return -1
    return matches

In [61]:
print(merged_df.iloc[26])

compute_function(merged_df.iloc[26],common_columns)

id_1             4
college    adelphi
major_1       STEM
FT_1             T
c1_1           NaN
c2_1           NaN
c_1            229
id_2             3
major_2       STEM
FT_2             T
c1_2          True
c2_2         False
c_2            171
Result          -1
Name: 26, dtype: object
major
	STEM False
	STEM False
1False
FT
	T False
	T False
2False
c1
	nan True
	True False
3False
c2
	nan True
	False False
4False

4

In [62]:
print(common_columns)
print(join_columns)
columns=list(set(common_columns) | set(join_columns))
print(columns)

['major', 'FT', 'c1', 'c2']
['college']
['college', 'major', 'c2', 'c1', 'FT']

In [63]:
merged_df['Result'] = merged_df.apply(compute_function,args=(common_columns,), axis=1)

major
	STEM False
	STEM False
1False
FT
	T False
	T False
2False
c1
	False False
	False False
3False
c2
	True False
	True False
4False
major
	STEM False
	STEM False
1False
FT
	T False
	FT False
1True
c1
	False False
	False False
2True
c2
	True False
	True False
3True
major
	STEM False
	STEM False
1False
FT
	T False
	T False
2False
c1
	False False
	True False
2True
c2
	True False
	False False
2True
major
	STEM False
	STEM False
1False
FT
	T False
	T False
2False
c1
	False False
	nan True
3False
c2
	True False
	nan True
4False
major
	STEM False
	STEM False
1False
FT
	T False
	FT False
1True
c1
	False False
	True False
1True
c2
	True False
	False False
1True
major
	STEM False
	STEM False
1False
FT
	T False
	FT False
1True
c1
	False False
	nan True
2True
c2
	True False
	nan True
3True
major
	STEM False
	nan True
1False
FT
	T False
	nan True
2False
c1
	False False
	nan True
3False
c2
	True False
	nan True
4False
major
	STEM False
	STEM False
1False
FT
	T False
	nan True
2False
c1
	False False
	nan True
3False
c2
	True False
	nan True
4False
major
	STEM False
	STEM False
1False
FT
	FT False
	T False
1True
c1
	False False
	False False
2True
c2
	True False
	True False
3True
major
	STEM False
	STEM False
1False
FT
	FT False
	FT False
2False
c1
	False False
	False False
3False
c2
	True False
	True False
4False
major
	STEM False
	STEM False
1False
FT
	FT False
	T False
1True
c1
	False False
	True False
1True
c2
	True False
	False False
1True
major
	STEM False
	STEM False
1False
FT
	FT False
	T False
1True
c1
	False False
	nan True
2True
c2
	True False
	nan True
3True
major
	STEM False
	STEM False
1False
FT
	FT False
	FT False
2False
c1
	False False
	True False
2True
c2
	True False
	False False
2True
major
	STEM False
	STEM False
1False
FT
	FT False
	FT False
2False
c1
	False False
	nan True
3False
c2
	True False
	nan True
4False
major
	STEM False
	nan True
1False
FT
	FT False
	nan True
2False
c1
	False False
	nan True
3False
c2
	True False
	nan True
4False
major
	STEM False
	STEM False
1False
FT
	FT False
	nan True
2False
c1
	False False
	nan True
3False
c2
	True False
	nan True
4False
major
	STEM False
	STEM False
1False
FT
	T False
	T False
2False
c1
	True False
	False False
2True
c2
	False False
	True False
2True
major
	STEM False
	STEM False
1False
FT
	T False
	FT False
1True
c1
	True False
	False False
1True
c2
	False False
	True False
1True
major
	STEM False
	STEM False
1False
FT
	T False
	T False
2False
c1
	True False
	True False
3False
c2
	False False
	False False
4False
major
	STEM False
	STEM False
1False
FT
	T False
	T False
2False
c1
	True False
	nan True
3False
c2
	False False
	nan True
4False
major
	STEM False
	STEM False
1False
FT
	T False
	FT False
1True
c1
	True False
	True False
2True
c2
	False False
	False False
3True
major
	STEM False
	STEM False
1False
FT
	T False
	FT False
1True
c1
	True False
	nan True
2True
c2
	False False
	nan True
3True
major
	STEM False
	nan True
1False
FT
	T False
	nan True
2False
c1
	True False
	nan True
3False
c2
	False False
	nan True
4False
major
	STEM False
	STEM False
1False
FT
	T False
	nan True
2False
c1
	True False
	nan True
3False
c2
	False False
	nan True
4False
major
	STEM False
	STEM False
1False
FT
	T False
	T False
2False
c1
	nan True
	False False
3False
c2
	nan True
	True False
4False
major
	STEM False
	STEM False
1False
FT
	T False
	FT False
1True
c1
	nan True
	False False
2True
c2
	nan True
	True False
3True
major
	STEM False
	STEM False
1False
FT
	T False
	T False
2False
c1
	nan True
	True False
3False
c2
	nan True
	False False
4False
major
	STEM False
	STEM False
1False
FT
	T False
	T False
2False
c1
	nan True
	nan True
3False
c2
	nan True
	nan True
4False
major
	STEM False
	STEM False
1False
FT
	T False
	FT False
1True
c1
	nan True
	True False
2True
c2
	nan True
	False False
3True
major
	STEM False
	STEM False
1False
FT
	T False
	FT False
1True
c1
	nan True
	nan True
2True
c2
	nan True
	nan True
3True
major
	STEM False
	nan True
1False
FT
	T False
	nan True
2False
c1
	nan True
	nan True
3False
c2
	nan True
	nan True
4False
major
	STEM False
	STEM False
1False
FT
	T False
	nan True
2False
c1
	nan True
	nan True
3False
c2
	nan True
	nan True
4False
major
	STEM False
	STEM False
1False
FT
	FT False
	T False
1True
c1
	True False
	False False
1True
c2
	False False
	True False
1True
major
	STEM False
	STEM False
1False
FT
	FT False
	FT False
2False
c1
	True False
	False False
2True
c2
	False False
	True False
2True
major
	STEM False
	STEM False
1False
FT
	FT False
	T False
1True
c1
	True False
	True False
2True
c2
	False False
	False False
3True
major
	STEM False
	STEM False
1False
FT
	FT False
	T False
1True
c1
	True False
	nan True
2True
c2
	False False
	nan True
3True
major
	STEM False
	STEM False
1False
FT
	FT False
	FT False
2False
c1
	True False
	True False
3False
c2
	False False
	False False
4False
major
	STEM False
	STEM False
1False
FT
	FT False
	FT False
2False
c1
	True False
	nan True
3False
c2
	False False
	nan True
4False
major
	STEM False
	nan True
1False
FT
	FT False
	nan True
2False
c1
	True False
	nan True
3False
c2
	False False
	nan True
4False
major
	STEM False
	STEM False
1False
FT
	FT False
	nan True
2False
c1
	True False
	nan True
3False
c2
	False False
	nan True
4False
major
	STEM False
	STEM False
1False
FT
	FT False
	T False
1True
c1
	nan True
	False False
2True
c2
	nan True
	True False
3True
major
	STEM False
	STEM False
1False
FT
	FT False
	FT False
2False
c1
	nan True
	False False
3False
c2
	nan True
	True False
4False
major
	STEM False
	STEM False
1False
FT
	FT False
	T False
1True
c1
	nan True
	True False
2True
c2
	nan True
	False False
3True
major
	STEM False
	STEM False
1False
FT
	FT False
	T False
1True
c1
	nan True
	nan True
2True
c2
	nan True
	nan True
3True
major
	STEM False
	STEM False
1False
FT
	FT False
	FT False
2False
c1
	nan True
	True False
3False
c2
	nan True
	False False
4False
major
	STEM False
	STEM False
1False
FT
	FT False
	FT False
2False
c1
	nan True
	nan True
3False
c2
	nan True
	nan True
4False
major
	STEM False
	nan True
1False
FT
	FT False
	nan True
2False
c1
	nan True
	nan True
3False
c2
	nan True
	nan True
4False
major
	STEM False
	STEM False
1False
FT
	FT False
	nan True
2False
c1
	nan True
	nan True
3False
c2
	nan True
	nan True
4False
major
	nan True
	STEM False
1False
FT
	nan True
	T False
2False
c1
	nan True
	False False
3False
c2
	nan True
	True False
4False
major
	nan True
	STEM False
1False
FT
	nan True
	FT False
2False
c1
	nan True
	False False
3False
c2
	nan True
	True False
4False
major
	nan True
	STEM False
1False
FT
	nan True
	T False
2False
c1
	nan True
	True False
3False
c2
	nan True
	False False
4False
major
	nan True
	STEM False
1False
FT
	nan True
	T False
2False
c1
	nan True
	nan True
3False
c2
	nan True
	nan True
4False
major
	nan True
	STEM False
1False
FT
	nan True
	FT False
2False
c1
	nan True
	True False
3False
c2
	nan True
	False False
4False
major
	nan True
	STEM False
1False
FT
	nan True
	FT False
2False
c1
	nan True
	nan True
3False
c2
	nan True
	nan True
4False
major
	nan True
	nan True
1False
FT
	nan True
	nan True
2False
c1
	nan True
	nan True
3False
c2
	nan True
	nan True
4False
major
	nan True
	STEM False
1False
FT
	nan True
	nan True
2False
c1
	nan True
	nan True
3False
c2
	nan True
	nan True
4False
major
	STEM False
	STEM False
1False
FT
	nan True
	T False
2False
c1
	nan True
	False False
3False
c2
	nan True
	True False
4False
major
	STEM False
	STEM False
1False
FT
	nan True
	FT False
2False
c1
	nan True
	False False
3False
c2
	nan True
	True False
4False
major
	STEM False
	STEM False
1False
FT
	nan True
	T False
2False
c1
	nan True
	True False
3False
c2
	nan True
	False False
4False
major
	STEM False
	STEM False
1False
FT
	nan True
	T False
2False
c1
	nan True
	nan True
3False
c2
	nan True
	nan True
4False
major
	STEM False
	STEM False
1False
FT
	nan True
	FT False
2False
c1
	nan True
	True False
3False
c2
	nan True
	False False
4False
major
	STEM False
	STEM False
1False
FT
	nan True
	FT False
2False
c1
	nan True
	nan True
3False
c2
	nan True
	nan True
4False
major
	STEM False
	nan True
1False
FT
	nan True
	nan True
2False
c1
	nan True
	nan True
3False
c2
	nan True
	nan True
4False
major
	STEM False
	STEM False
1False
FT
	nan True
	nan True
2False
c1
	nan True
	nan True
3False
c2
	nan True
	nan True
4False

In [64]:
merged_df

,id_1,college,major_1,FT_1,c1_1,c2_1,c_1,id_2,major_2,FT_2,c1_2,c2_2,c_2,Result
0,1,adelphi,STEM,T,False,True,58,1,STEM,T,False,True,58,-1
1,1,adelphi,STEM,T,False,True,58,2,STEM,FT,False,True,165,-1
2,1,adelphi,STEM,T,False,True,58,3,STEM,T,True,False,171,-1
3,1,adelphi,STEM,T,False,True,58,4,STEM,T,NaN,NaN,229,4
4,1,adelphi,STEM,T,False,True,58,5,STEM,FT,True,False,858,-1
5,1,adelphi,STEM,T,False,True,58,6,STEM,FT,NaN,NaN,1023,-1
6,1,adelphi,STEM,T,False,True,58,7,NaN,NaN,NaN,NaN,1252,4
7,1,adelphi,STEM,T,False,True,58,8,STEM,NaN,NaN,NaN,1252,4
8,2,adelphi,STEM,FT,False,True,165,1,STEM,T,False,True,58,-1
9,2,adelphi,STEM,FT,False,True,165,2,STEM,FT,False,True,165,-1
10,2,adelphi,STEM,FT,False,True,165,3,STEM,T,True,False,171,-1
11,2,adelphi,STEM,FT,False,True,165,4,STEM,T,NaN,NaN,229,-1
12,2,adelphi,STEM,FT,False,True,165,5,STEM,FT,True,False,858,-1
13,2,adelphi,STEM,FT,False,True,165,6,STEM,FT,NaN,NaN,1023,4
14,2,adelphi,STEM,FT,False,True,165,7,NaN,NaN,NaN,NaN,1252,4
15,2,adelphi,STEM,FT,False,True,165,8,STEM,NaN,NaN,NaN,1252,4
16,3,adelphi,STEM,T,True,False,171,1,STEM,T,False,True,58,-1
17,3,adelphi,STEM,T,True,False,171,2,STEM,FT,False,True,165,-1
18,3,adelphi,STEM,T,True,False,171,3,STEM,T,True,False,171,-1
19,3,adelphi,STEM,T,True,False,171,4,STEM,T,NaN,NaN,229,4
20,3,adelphi,STEM,T,True,False,171,5,STEM,FT,True,False,858,-1
21,3,adelphi,STEM,T,True,False,171,6,STEM,FT,NaN,NaN,1023,-1
22,3,adelphi,STEM,T,True,False,171,7,NaN,NaN,NaN,NaN,1252,4
23,3,adelphi,STEM,T,True,False,171,8,STEM,NaN,NaN,NaN,1252,4
24,4,adelphi,STEM,T,NaN,NaN,229,1,STEM,T,False,True,58,4
25,4,adelphi,STEM,T,NaN,NaN,229,2,STEM,FT,False,True,165,-1
26,4,adelphi,STEM,T,NaN,NaN,229,3,STEM,T,True,False,171,4
27,4,adelphi,STEM,T,NaN,NaN,229,4,STEM,T,NaN,NaN,229,4
28,4,adelphi,STEM,T,NaN,NaN,229,5,STEM,FT,True,False,858,-1
29,4,adelphi,STEM,T,NaN,NaN,229,6,STEM,FT,NaN,NaN,1023,-1
30,4,adelphi,STEM,T,NaN,NaN,229,7,NaN,NaN,NaN,NaN,1252,4
31,4,adelphi,STEM,T,NaN,NaN,229,8,STEM,NaN,NaN,NaN,1252,4
32,5,adelphi,STEM,FT,True,False,858,1,STEM,T,False,True,58,-1
33,5,adelphi,STEM,FT,True,False,858,2,STEM,FT,False,True,165,-1
34,5,adelphi,STEM,FT,True,False,858,3,STEM,T,True,False,171,-1
35,5,adelphi,STEM,FT,True,False,858,4,STEM,T,NaN,NaN,229,-1
36,5,adelphi,STEM,FT,True,False,858,5,STEM,FT,True,False,858,-1
37,5,adelphi,STEM,FT,True,False,858,6,STEM,FT,NaN,NaN,1023,4
38,5,adelphi,STEM,FT,True,False,858,7,NaN,NaN,NaN,NaN,1252,4
39,5,adelphi,STEM,FT,True,False,858,8,STEM,NaN,NaN,NaN,1252,4
40,6,adelphi,STEM,FT,NaN,NaN,1023,1,STEM,T,False,True,58,-1
41,6,adelphi,STEM,FT,NaN,NaN,1023,2,STEM,FT,False,True,165,4
42,6,adelphi,STEM,FT,NaN,NaN,1023,3,STEM,T,True,False,171,-1
43,6,adelphi,STEM,FT,NaN,NaN,1023,4,STEM,T,NaN,NaN,229,-1
44,6,adelphi,STEM,FT,NaN,NaN,1023,5,STEM,FT,True,False,858,4
45,6,adelphi,STEM,FT,NaN,NaN,1023,6,STEM,FT,NaN,NaN,1023,4
46,6,adelphi,STEM,FT,NaN,NaN,1023,7,NaN,NaN,NaN,NaN,1252,4
47,6,adelphi,STEM,FT,NaN,NaN,1023,8,STEM,NaN,NaN,NaN,1252,4
48,7,adelphi,NaN,NaN,NaN,NaN,1252,1,STEM,T,False,True,58,4
49,7,adelphi,NaN,NaN,NaN,NaN,1252,2,STEM,FT,False,True,165,4
50,7,adelphi,NaN,NaN,NaN,NaN,1252,3,STEM,T,True,False,171,4
51,7,adelphi,NaN,NaN,NaN,NaN,1252,4,STEM,T,NaN,NaN,229,4
52,7,adelphi,NaN,NaN,NaN,NaN,1252,5,STEM,FT,True,False,858,4
53,7,adelphi,NaN,NaN,NaN,NaN,1252,6,STEM,FT,NaN,NaN,1023,4
54,7,adelphi,NaN,NaN,NaN,NaN,1252,7,NaN,NaN,NaN,NaN,1252,4
55,7,adelphi,NaN,NaN,NaN,NaN,1252,8,STEM,NaN,NaN,NaN,1252,4
56,8,adelphi,STEM,NaN,NaN,NaN,1252,1,STEM,T,False,True,58,4
57,8,adelphi,STEM,NaN,NaN,NaN,1252,2,STEM,FT,False,True,165,4
58,8,adelphi,STEM,NaN,NaN,NaN,1252,3,STEM,T,True,False,171,4
59,8,adelphi,STEM,NaN,NaN,NaN,1252,4,STEM,T,NaN,NaN,229,4
60,8,adelphi,STEM,NaN,NaN,NaN,1252,5,STEM,FT,True,False,858,4
61,8,adelphi,STEM,NaN,NaN,NaN,1252,6,STEM,FT,NaN,NaN,1023,4
62,8,adelphi,STEM,NaN,NaN,NaN,1252,7,NaN,NaN,NaN,NaN,1252,4
63,8,adelphi,STEM,NaN,NaN,NaN,1252,8,STEM,NaN,NaN,NaN,1252,4

In [65]:
q2= ''' select *, max(result) over (partition by id_1) max_r from merged_df where 
result > 0   
order by id_1, result
'''
df4=conn.execute(q2).df()
df4

,id_1,college,major_1,FT_1,c1_1,c2_1,c_1,id_2,major_2,FT_2,c1_2,c2_2,c_2,Result,max_r
0,1,adelphi,STEM,T,False,True,58,4,STEM,T,NaN,NaN,229,4,4
1,1,adelphi,STEM,T,False,True,58,7,NaN,NaN,NaN,NaN,1252,4,4
2,1,adelphi,STEM,T,False,True,58,8,STEM,NaN,NaN,NaN,1252,4,4
3,2,adelphi,STEM,FT,False,True,165,6,STEM,FT,NaN,NaN,1023,4,4
4,2,adelphi,STEM,FT,False,True,165,7,NaN,NaN,NaN,NaN,1252,4,4
5,2,adelphi,STEM,FT,False,True,165,8,STEM,NaN,NaN,NaN,1252,4,4
6,3,adelphi,STEM,T,True,False,171,4,STEM,T,NaN,NaN,229,4,4
7,3,adelphi,STEM,T,True,False,171,7,NaN,NaN,NaN,NaN,1252,4,4
8,3,adelphi,STEM,T,True,False,171,8,STEM,NaN,NaN,NaN,1252,4,4
9,4,adelphi,STEM,T,NaN,NaN,229,1,STEM,T,False,True,58,4,4
10,4,adelphi,STEM,T,NaN,NaN,229,3,STEM,T,True,False,171,4,4
11,4,adelphi,STEM,T,NaN,NaN,229,4,STEM,T,NaN,NaN,229,4,4
12,4,adelphi,STEM,T,NaN,NaN,229,7,NaN,NaN,NaN,NaN,1252,4,4
13,4,adelphi,STEM,T,NaN,NaN,229,8,STEM,NaN,NaN,NaN,1252,4,4
14,5,adelphi,STEM,FT,True,False,858,6,STEM,FT,NaN,NaN,1023,4,4
15,5,adelphi,STEM,FT,True,False,858,7,NaN,NaN,NaN,NaN,1252,4,4
16,5,adelphi,STEM,FT,True,False,858,8,STEM,NaN,NaN,NaN,1252,4,4
17,6,adelphi,STEM,FT,NaN,NaN,1023,2,STEM,FT,False,True,165,4,4
18,6,adelphi,STEM,FT,NaN,NaN,1023,5,STEM,FT,True,False,858,4,4
19,6,adelphi,STEM,FT,NaN,NaN,1023,6,STEM,FT,NaN,NaN,1023,4,4
20,6,adelphi,STEM,FT,NaN,NaN,1023,7,NaN,NaN,NaN,NaN,1252,4,4
21,6,adelphi,STEM,FT,NaN,NaN,1023,8,STEM,NaN,NaN,NaN,1252,4,4
22,7,adelphi,NaN,NaN,NaN,NaN,1252,1,STEM,T,False,True,58,4,4
23,7,adelphi,NaN,NaN,NaN,NaN,1252,2,STEM,FT,False,True,165,4,4
24,7,adelphi,NaN,NaN,NaN,NaN,1252,3,STEM,T,True,False,171,4,4
25,7,adelphi,NaN,NaN,NaN,NaN,1252,4,STEM,T,NaN,NaN,229,4,4
26,7,adelphi,NaN,NaN,NaN,NaN,1252,5,STEM,FT,True,False,858,4,4
27,7,adelphi,NaN,NaN,NaN,NaN,1252,6,STEM,FT,NaN,NaN,1023,4,4
28,7,adelphi,NaN,NaN,NaN,NaN,1252,7,NaN,NaN,NaN,NaN,1252,4,4
29,7,adelphi,NaN,NaN,NaN,NaN,1252,8,STEM,NaN,NaN,NaN,1252,4,4
30,8,adelphi,STEM,NaN,NaN,NaN,1252,1,STEM,T,False,True,58,4,4
31,8,adelphi,STEM,NaN,NaN,NaN,1252,2,STEM,FT,False,True,165,4,4
32,8,adelphi,STEM,NaN,NaN,NaN,1252,3,STEM,T,True,False,171,4,4
33,8,adelphi,STEM,NaN,NaN,NaN,1252,4,STEM,T,NaN,NaN,229,4,4
34,8,adelphi,STEM,NaN,NaN,NaN,1252,5,STEM,FT,True,False,858,4,4
35,8,adelphi,STEM,NaN,NaN,NaN,1252,6,STEM,FT,NaN,NaN,1023,4,4
36,8,adelphi,STEM,NaN,NaN,NaN,1252,7,NaN,NaN,NaN,NaN,1252,4,4
37,8,adelphi,STEM,NaN,NaN,NaN,1252,8,STEM,NaN,NaN,NaN,1252,4,4

In [66]:
q2= ''' with  M as (select *, max(result) over (partition by id_1) max_r from merged_df where 
result > 0   
order by Result)
select *,id_1,id_2,c_1 from M where max_r=result

'''
df44=conn.execute(q2).df()
df44

,id_1,college,major_1,FT_1,c1_1,c2_1,c_1,id_2,major_2,FT_2,c1_2,c2_2,c_2,Result,max_r,id_1_2,id_2_2,c_1_2
0,2,adelphi,STEM,FT,False,True,165,6,STEM,FT,NaN,NaN,1023,4,4,2,6,165
1,2,adelphi,STEM,FT,False,True,165,7,NaN,NaN,NaN,NaN,1252,4,4,2,7,165
2,2,adelphi,STEM,FT,False,True,165,8,STEM,NaN,NaN,NaN,1252,4,4,2,8,165
3,5,adelphi,STEM,FT,True,False,858,6,STEM,FT,NaN,NaN,1023,4,4,5,6,858
4,5,adelphi,STEM,FT,True,False,858,7,NaN,NaN,NaN,NaN,1252,4,4,5,7,858
5,5,adelphi,STEM,FT,True,False,858,8,STEM,NaN,NaN,NaN,1252,4,4,5,8,858
6,1,adelphi,STEM,T,False,True,58,4,STEM,T,NaN,NaN,229,4,4,1,4,58
7,1,adelphi,STEM,T,False,True,58,7,NaN,NaN,NaN,NaN,1252,4,4,1,7,58
8,1,adelphi,STEM,T,False,True,58,8,STEM,NaN,NaN,NaN,1252,4,4,1,8,58
9,3,adelphi,STEM,T,True,False,171,4,STEM,T,NaN,NaN,229,4,4,3,4,171
10,3,adelphi,STEM,T,True,False,171,7,NaN,NaN,NaN,NaN,1252,4,4,3,7,171
11,3,adelphi,STEM,T,True,False,171,8,STEM,NaN,NaN,NaN,1252,4,4,3,8,171
12,4,adelphi,STEM,T,NaN,NaN,229,1,STEM,T,False,True,58,4,4,4,1,229
13,4,adelphi,STEM,T,NaN,NaN,229,3,STEM,T,True,False,171,4,4,4,3,229
14,4,adelphi,STEM,T,NaN,NaN,229,4,STEM,T,NaN,NaN,229,4,4,4,4,229
15,4,adelphi,STEM,T,NaN,NaN,229,7,NaN,NaN,NaN,NaN,1252,4,4,4,7,229
16,4,adelphi,STEM,T,NaN,NaN,229,8,STEM,NaN,NaN,NaN,1252,4,4,4,8,229
17,6,adelphi,STEM,FT,NaN,NaN,1023,2,STEM,FT,False,True,165,4,4,6,2,1023
18,6,adelphi,STEM,FT,NaN,NaN,1023,5,STEM,FT,True,False,858,4,4,6,5,1023
19,6,adelphi,STEM,FT,NaN,NaN,1023,6,STEM,FT,NaN,NaN,1023,4,4,6,6,1023
20,6,adelphi,STEM,FT,NaN,NaN,1023,7,NaN,NaN,NaN,NaN,1252,4,4,6,7,1023
21,6,adelphi,STEM,FT,NaN,NaN,1023,8,STEM,NaN,NaN,NaN,1252,4,4,6,8,1023
22,7,adelphi,NaN,NaN,NaN,NaN,1252,1,STEM,T,False,True,58,4,4,7,1,1252
23,7,adelphi,NaN,NaN,NaN,NaN,1252,2,STEM,FT,False,True,165,4,4,7,2,1252
24,7,adelphi,NaN,NaN,NaN,NaN,1252,3,STEM,T,True,False,171,4,4,7,3,1252
25,7,adelphi,NaN,NaN,NaN,NaN,1252,4,STEM,T,NaN,NaN,229,4,4,7,4,1252
26,7,adelphi,NaN,NaN,NaN,NaN,1252,5,STEM,FT,True,False,858,4,4,7,5,1252
27,7,adelphi,NaN,NaN,NaN,NaN,1252,6,STEM,FT,NaN,NaN,1023,4,4,7,6,1252
28,7,adelphi,NaN,NaN,NaN,NaN,1252,7,NaN,NaN,NaN,NaN,1252,4,4,7,7,1252
29,7,adelphi,NaN,NaN,NaN,NaN,1252,8,STEM,NaN,NaN,NaN,1252,4,4,7,8,1252
30,8,adelphi,STEM,NaN,NaN,NaN,1252,1,STEM,T,False,True,58,4,4,8,1,1252
31,8,adelphi,STEM,NaN,NaN,NaN,1252,2,STEM,FT,False,True,165,4,4,8,2,1252
32,8,adelphi,STEM,NaN,NaN,NaN,1252,3,STEM,T,True,False,171,4,4,8,3,1252
33,8,adelphi,STEM,NaN,NaN,NaN,1252,4,STEM,T,NaN,NaN,229,4,4,8,4,1252
34,8,adelphi,STEM,NaN,NaN,NaN,1252,5,STEM,FT,True,False,858,4,4,8,5,1252
35,8,adelphi,STEM,NaN,NaN,NaN,1252,6,STEM,FT,NaN,NaN,1023,4,4,8,6,1252
36,8,adelphi,STEM,NaN,NaN,NaN,1252,7,NaN,NaN,NaN,NaN,1252,4,4,8,7,1252
37,8,adelphi,STEM,NaN,NaN,NaN,1252,8,STEM,NaN,NaN,NaN,1252,4,4,8,8,1252

In [74]:
q2= ''' with  M as (select *, max(result) over (partition by id_1) max_r from merged_df where 
result > 0   
order by Result)
select * from M where max_r=result
and id_1 > id_2
'''
df4=conn.execute(q2).df()

In [75]:
L=df3[columns].values.tolist()

In [76]:
df4

,id_1,college,major_1,FT_1,c1_1,c2_1,c_1,id_2,major_2,FT_2,c1_2,c2_2,c_2,Result,max_r
0,4,adelphi,STEM,T,NaN,NaN,229,1,STEM,T,False,True,58,4,4
1,4,adelphi,STEM,T,NaN,NaN,229,3,STEM,T,True,False,171,4,4
2,6,adelphi,STEM,FT,NaN,NaN,1023,2,STEM,FT,False,True,165,4,4
3,6,adelphi,STEM,FT,NaN,NaN,1023,5,STEM,FT,True,False,858,4,4
4,7,adelphi,NaN,NaN,NaN,NaN,1252,1,STEM,T,False,True,58,4,4
5,7,adelphi,NaN,NaN,NaN,NaN,1252,2,STEM,FT,False,True,165,4,4
6,7,adelphi,NaN,NaN,NaN,NaN,1252,3,STEM,T,True,False,171,4,4
7,7,adelphi,NaN,NaN,NaN,NaN,1252,4,STEM,T,NaN,NaN,229,4,4
8,7,adelphi,NaN,NaN,NaN,NaN,1252,5,STEM,FT,True,False,858,4,4
9,7,adelphi,NaN,NaN,NaN,NaN,1252,6,STEM,FT,NaN,NaN,1023,4,4
10,8,adelphi,STEM,NaN,NaN,NaN,1252,1,STEM,T,False,True,58,4,4
11,8,adelphi,STEM,NaN,NaN,NaN,1252,2,STEM,FT,False,True,165,4,4
12,8,adelphi,STEM,NaN,NaN,NaN,1252,3,STEM,T,True,False,171,4,4
13,8,adelphi,STEM,NaN,NaN,NaN,1252,4,STEM,T,NaN,NaN,229,4,4
14,8,adelphi,STEM,NaN,NaN,NaN,1252,5,STEM,FT,True,False,858,4,4
15,8,adelphi,STEM,NaN,NaN,NaN,1252,6,STEM,FT,NaN,NaN,1023,4,4
16,8,adelphi,STEM,NaN,NaN,NaN,1252,7,NaN,NaN,NaN,NaN,1252,4,4

In [77]:
df4

,id_1,college,major_1,FT_1,c1_1,c2_1,c_1,id_2,major_2,FT_2,c1_2,c2_2,c_2,Result,max_r
0,4,adelphi,STEM,T,NaN,NaN,229,1,STEM,T,False,True,58,4,4
1,4,adelphi,STEM,T,NaN,NaN,229,3,STEM,T,True,False,171,4,4
2,6,adelphi,STEM,FT,NaN,NaN,1023,2,STEM,FT,False,True,165,4,4
3,6,adelphi,STEM,FT,NaN,NaN,1023,5,STEM,FT,True,False,858,4,4
4,7,adelphi,NaN,NaN,NaN,NaN,1252,1,STEM,T,False,True,58,4,4
5,7,adelphi,NaN,NaN,NaN,NaN,1252,2,STEM,FT,False,True,165,4,4
6,7,adelphi,NaN,NaN,NaN,NaN,1252,3,STEM,T,True,False,171,4,4
7,7,adelphi,NaN,NaN,NaN,NaN,1252,4,STEM,T,NaN,NaN,229,4,4
8,7,adelphi,NaN,NaN,NaN,NaN,1252,5,STEM,FT,True,False,858,4,4
9,7,adelphi,NaN,NaN,NaN,NaN,1252,6,STEM,FT,NaN,NaN,1023,4,4
10,8,adelphi,STEM,NaN,NaN,NaN,1252,1,STEM,T,False,True,58,4,4
11,8,adelphi,STEM,NaN,NaN,NaN,1252,2,STEM,FT,False,True,165,4,4
12,8,adelphi,STEM,NaN,NaN,NaN,1252,3,STEM,T,True,False,171,4,4
13,8,adelphi,STEM,NaN,NaN,NaN,1252,4,STEM,T,NaN,NaN,229,4,4
14,8,adelphi,STEM,NaN,NaN,NaN,1252,5,STEM,FT,True,False,858,4,4
15,8,adelphi,STEM,NaN,NaN,NaN,1252,6,STEM,FT,NaN,NaN,1023,4,4
16,8,adelphi,STEM,NaN,NaN,NaN,1252,7,NaN,NaN,NaN,NaN,1252,4,4

In [78]:
s=df4['id_1'].values.tolist()
t=df4['id_2'].values.tolist()
v=df4['c_2'].values.tolist()

In [79]:
fig = go.Figure(data=[go.Sankey(
    valueformat = ".0f",
    valuesuffix = "",
    # Define nodes
    node = dict(
      pad = 15,
      thickness = 15,
      line = dict(color = "black", width = 0.5),
      label = L
     # color = 
    ),
    # Add links
    link = dict(
      source =  s,
      target =  t,
      value = v,
     
      #color =  a['link']['color']
))])

fig.update_layout(title_text="",
                  font_size=10)
fig.show()

In [80]:
s

[4, 4, 6, 6, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8]

In [24]:
t

[1, 3]

In [81]:
v

[58,
 171,
 165,
 858,
 58,
 165,
 171,
 229,
 858,
 1023,
 58,
 165,
 171,
 229,
 858,
 1023,
 1252]